# Archivos y carpetas generados por Visual Studio y Windows Forms
bin/
obj/
*.exe
*.dll
*.pdb
*.txt
*.csv
*.html
*.key
*.password
*.creditcard
*.user
*.suo
*.vs/
*.vshost.exe
*.vshost.exe.config
*.csproj.user
*.manifest
*.log
*.cache
*.DS_Store

# Archivos y carpetas generados por paquetes NuGet
packages/
*.nupkg
*.snupkg
*.bak
*.zip
*.nuspec
*.config
*.json
*.props
*.targets
*.xaml

# El paquete "build" de NuGet no debe ser ignorado
!**/packages/build/
